#BWL_Grab {
    border:         1px solid grey;
    background:     lightgrey;
    font:           12px sans-serif;
    width:          200px;
    padding:        5px;
    padding-top:    4px;
    position:       absolute;
    right:          50px;
    top:            155px;
}

#BWL_Grab > h2 {
    border-top:     1px solid grey;
    border-bottom:  1px solid grey;
    margin:         0px;
    padding:        0px;
    padding-left:   6px;
    background:     grey;
    font-size:      10px;
    color:          white;
    width:          204px;
    position:       relative;
    left:           -5px;
    top:            -4px;
}

#BWL_Grab > div {
    background:     white;
    overflow:       auto;
    width:          199px;
    max-height:     300px;
    position:       relative;
    top:            1px
}

#BWL_Grab > div ol {
    list-style-type:none;
    position:       relative;
    left:           -18px;
}

#BWL_Grab > div > ol {
    list-style-position: inside;
    position:       relative;
    left:           -37px;
    width:          100px;
    top:            -11px;
}
